.circle_img {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #ede9ce;

}

.colored-top-side-bar {
	background-color: #935347;
	border: none;
	border-radius: 0;
	color: #000000!important;
}
.colored-body {
	background-color: #FFF5FB;
	font-family: 'Poiret One', cursive;
	font-size: 16px;
	color: #000000;
}

.text-with-img{
	padding-left: 20px;
}
.no-padding-no-margin{
	padding: 0px!important;
	margin: 0px;
	color: #000000;
}
.community-list-link:hover{
	background-color: #D6D1AE;
	cursor: pointer;
}
.community-list-link{
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
.black-font{
	color: #000000;
}
.bold-black-font{
	color: #54004A;
	font-weight: 700;
	font-size: 20px;
}
.community-list-link:active{
	background-color: #D6D1AE;
	cursor: pointer;
}
a:active{
	background-color: #D6D1AE;
	cursor: pointer;	
}
