{% extends "base/base.html" %}

{% block title %}{{ community.title }}{% endblock %}

{% block content %} 
    <strong>Информация о сообществе</strong><br>
    Название: {{ community.title }} <br>
    Домен: {{ community.domen }} <br>
    Доменное имя: {{ community.domen_name }} <br>
    <br>
    <strong>Статус</strong><br>
    {% if not community.under_moderation %}
        <div class="alert alert-warning">
        Вы, пока, не назначили бота модератором вашего сообщества
        (<abbr title="Если вы уже назначили бота модератором, то этот статус исчезнет в течение 5 минут">обновление</abbr> этого статуса происходит раз в 5 минут)
        <br>
        <small><u>Добавить руководителя</u> можно по ссылке <a target="_blank" href="{{ community.url }}?act=users&tab=admins">{{ community.url }}?act=users&tab=admins</a>.<br>Перейдя по адресу нажмите "Добавить руководителя" и вбейте в поиск по подписчикам адрес бота<u> {{ community.moderator.url }}</u> либо имя бота: {{ community.moderator.name }}. Для функционирования достаточно прав модератора.
        <br>
        <br> За отражение бота в блоке контактов вашего сообщества — благодарчик! </small>
        </div>
    {% endif %}

    {% if community.disabled %}
        <div class="alert alert-warning">
        Удаление комментариев отключено
        </div>
    {% endif %}

    {% if community.under_moderation and not community.disabled %}
        <div class="alert alert-success">Комментарии удаляются! <br> <small>Сессия удаления начинается каждые 5 минут</small></div>
    {% endif %}
    <br>
    <h4>Настройки</h4>
    <hr>
    <a href="{% url 'wallcontroller:change_disabled_status' community.pk %}">
        {% if not community.disabled %}
            Отключить удаление комментариев
        {% else %}
            Включить удаление комментариев
        {% endif %}
    </a>
{% endblock %}
