{% extends "base/base.html" %}

{% block title %}{{ community.title }}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-offset-2 col-md-8"> 
    <strong>Информация о сообществе</strong><br>
    Название: {{ community.title }} <br>
    Домен: {{ community.domen }} <br>
    Доменное имя: {{ community.domen_name }} <br>
    <br>
    <strong>Статус</strong><br>
    {% if not community.under_moderation %}
        <div class="alert alert-warning">
        Вы, пока, не назначили бота модератором вашего сообщества.
        <br>
        <small><u>Добавить руководителя</u> можно по ссылке <a target="_blank" href="{{ community.url }}?act=users&tab=admins">{{ community.url }}?act=users&tab=admins</a>.<br>Перейдя по адресу нажмите "Добавить руководителя" и вбейте в поиск по подписчикам адрес бота<u> {{ community.moderator.url }}</u> либо имя бота: {{ community.moderator.name }}. Для функционирования сервиса достаточно прав модератора.
        <br>
        За отражение бота в блоке контактов вашего сообщества — благодарчик!
        <br>  
        <br>
        <abbr title="Если вы уже назначили бота модератором, то этот статус исчезнет в течение 5 минут">Обновление</abbr> этого статуса происходит раз в 5 минут.</small>
        </div>
    {% endif %}

    {% if community.disabled %}
        <div class="alert alert-warning">
        Удаление комментариев отключено
        </div>
    {% endif %}

    {% if community.under_moderation and not community.disabled %}
        <div class="alert alert-success">Комментарии удаляются! <br> <small>Сессия удаления начинается каждые 5 минут</small></div>
    {% endif %}
    <hr>
    <p>
    <a href="{% url 'wallcontroller:change_disabled_status' community.pk %}">
        {% if not community.disabled %}
            Отключить удаление комментариев
        {% else %}
            Включить удаление комментариев
        {% endif %}
    </a>
        <br>
        <small class="text-muted">Удаление комментариев происходит только с тех постов, которые появились после включения фильтрации. Вся стена затёрта не будет!</small>
    
    </p>
    <hr>


    <form action="{% url 'wallcontroller:community' community.pk %}" method="post">
        {% csrf_token %}
        <div class="form-group">
        <label for="id_end_count">Конечное количество лайков <i class="material-icons" style="font-size: 15px;">favorite</i></label><br>
        <small class="text-muted">Сколько лайков должно быть на комментарии в вашем сообществе через 5 часов, чтобы его можно было считать хорошим?</small>
        <div class="row">
        <div class="col-md-2">
        <input type="number" class="form-control" id="id_end_count" 
        name="end_count" value="{{ form.end_count.value }}"> 

        </div>
        </div>
        </div>
        <button type="submit" class="btn btn-default">Сохранить</button>
    </form>

    </div>
    </div>
    <br>
    
    {% endblock %}
