{% extends "base/_base.html" %}
{% block body %}
    {% block sidebar %}
    <nav class="navbar colored-top-side-bar">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand bold-black-font" href="#">Wallcontroller <span class="glyphicon glyphicon-search normal-font"></span></a>
        </div>
    
            

            <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="black-font">Мои сообщества</a></li>
            <li class="dropdown black-font">
                <a href="#" class="dropdown-toggle black-font" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Аккаунт <span class="caret"></span></a>
                <ul class="dropdown-menu" style="overflow: visible;">
                <li><a href="#">Настройки</a></li>
                <li><a href="#">Выйти</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
    </div><!-- /.container-fluid -->
    </nav>
    {% endblock %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">{% block content %}{% endblock %}</div>
        </div>
    </div>

{% endblock %}